.title__about,
.subtitle__about {
    text-align: center;
}


.title__about {
    font-size: 1.7rem;
    color: var(--secondary);
    font-weight: 400;
}


.subtitle__about {
    color: var(--subtitle);
    font-size: 1rem;
}

.about-display {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
    justify-items: center;
}


.about-card {
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 10px #0000002a;
    width: 100%;
    max-width: 300px;
    padding: 1.5rem 2rem;
    border-radius: 30px;
}


.about-icon {
    color: var(--secondary);
    background: var(--quarterary);
    padding: .55rem;
    border-radius: 999px;
}


.about-title {
    font-size: .88rem;
    font-weight: 400;
}


.about-desc {
    font-size: .66rem;
    color: var(--subtitle);
    max-width: 60ch;
    text-wrap: balance;
}


.stats__about {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


.value__about {
    display: block;
    text-align: center;
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.4rem;
}


.text__about {
    color: var(--subtitle);
    font-size: .85rem;
}