:root {
  --bg: #fefefe;
  --subtitle: #808080;
  --primary: #101010;
  --secondary: #e8afb8;
  --teritary: #12563da6;
  --quarterary: rgba(253, 230, 234, 0.809);
  --btn1-hover: #daa5ae;
  --btn2-hover: #dcdcdc34;
}